.footer {
  display: flex;
  background-color: #1c1c1c;
  padding: 5.5rem 6rem;
  &__container {
    width: 100%;
  }
  &__start {
    display: flex;
    justify-content: space-between;
    padding-bottom: 7.6rem;
    &__logo {
      width: 28.15rem;
    }
    &__btn {
      position: relative;
      width: 18.7rem;
      &__el {
        position: absolute;
        font-family: "Roboto Condensed";
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 120%;
        letter-spacing: 0;
        text-align: center;
        color: #ffffff;
        top: 3.5rem;
        right: 4rem;
      }
    }
  }
  &__arr {
    display: flex;
    justify-content: space-between;
    &__nav {
      margin-right: -31rem;
      &__list {
        gap: 2.8rem;
        display: flex;
        flex-direction: column;
        &__item__link {
          font-family: "Roboto Condensed";
          font-weight: 700;
          font-style: Bold;
          font-size: 2.4rem;
          line-height: 120%;
          letter-spacing: 0;
          text-transform: uppercase;
        }
      }
    }
    &__social {
      display: flex;
      gap: 0.8rem;
      &__mes {
        font-style: normal;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 2.4rem;
        line-height: 100%;
        letter-spacing: 0.05rem;
        text-align: center;
        text-transform: uppercase;
        text-decoration: underline;
        text-decoration-style: solid;
        text-decoration-thickness: 0%;
        color: #0be925;
      }
      &__el {
        font-family: "Roboto";
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 100%;
        letter-spacing: 0.05rem;
        text-align: center;
        color: #696969;
      }
    }
    &__contacts {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      &__el {
        font-family: "Roboto Condensed";
        font-weight: 400;
        font-size: 2.4rem;
        line-height: 120%;
        letter-spacing: 0;
        text-transform: uppercase;
        color: #e4e4e4;
      }
    }
  }
  &__end {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 1rem;
    &__el {
      font-family: "Roboto Condensed";
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 120%;
      border-bottom: 1px solid #a4a4a4;
      color: #a4a4a4;
    }
  }
}
