.price {
  color: #ffffff;
  padding-top: 17.5rem;
  &__start {
    display: flex;
    justify-content: space-between;
    &__btn {
      max-width: 30.2rem;
      position: relative;
      top: 7rem;
      &__el {
        font-family: "Roboto Condensed";
        font-weight: 500;
        font-size: 2rem;
        line-height: 120%;
        letter-spacing: 0;
        text-align: center;
        position: absolute;
        bottom: 2.5rem;
        transform: translateX(-264%);
        padding: 1rem;
      }
    }
    &__span {
      font-family: "Roboto Condensed";
      font-weight: 300;
      font-size: 2.4rem;
      line-height: 120%;
      letter-spacing: 0;
      text-align: right;
      color: #b1a16a;
      display: flex;
      width: 47%;
      margin-left: 53%;
      padding-bottom: 9.6rem;
    }
    &__h2 {
      display: flex;
      gap: 2.5rem;

      &__el,
      &__el__green {
        font-size: 16rem;
        font-family: "FE Hero";
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 0.2rem;
        text-transform: uppercase;
      }
      &__el__green {
        color: #0be925;
      }
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 7.5rem;
    &__info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      &::after {
        content: "";
        opacity: 0.6;
        position: absolute;
        border-bottom: 1px solid #6f6f6f;
        width: 100%;
        bottom: 0;
      }
      &:last-child::after {
        display: none;
      }

      &__name {
        width: 45.3rem;
        font-family: "FE Hero";
        font-weight: 400;
        font-size: 13rem;
        line-height: 100%;
        letter-spacing: 0.2rem;
        text-transform: uppercase;
        color: #ffffff;
        justify-content: flex-end;
        display: flex;
      }
      &__el {
        width: 48rem;
        font-family: Roboto Condensed;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 140%;
        letter-spacing: 0;
        color: #6f6f6f;
      }
      &__number {
        width: 32px;
        height: 38px;
        font-family: "Roboto Condensed";
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 120%;
        text-transform: uppercase;
        padding-top: 3rem;
      }
      &__price {
        color: #b1a16a;
        &__el {
          font-family: "FE Hero";
          font-weight: 400;
          font-size: 8rem;
          line-height: 100%;
          letter-spacing: 0.2rem;
          text-transform: uppercase;
          font-style: normal;
          &__item {
            color: #ffffff;
          }

          &__span {
            font-family: "Roboto Condensed";
            font-size: 2.4rem;
          }
        }
      }
    }
  }
  &__end {
    display: flex;
    justify-content: flex-end;
    padding-top: 7.6rem;
    &__comment {
      font-family: "Roboto Condensed";
      font-weight: 300;
      font-size: 2.4rem;
      line-height: 120%;
      letter-spacing: 0;
      text-align: right;
      color: #b1a16a;
      max-width: 46.6rem;
      &__el {
        color: #ffffff;
      }
    }
    &__img {
      width: 5.1rem;
      height: 3.9rem;
    }
  }
}
