.advantages {
  padding-top: 16.8rem;
  &__container {
    width: 100%;
    height: 60.3rem;
    max-width: 100vw;
    background-image: url("@img/advantages/advantages-bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  &__container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10%;
    background: linear-gradient(to top, rgba(11, 13, 13, 1), transparent);
    pointer-events: none;
  }
  &__wrap {
    display: flex;
    gap: 9rem;
  }
  &__left {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    max-width: 62.4rem;
    &__h2 {
      text-transform: uppercase;
      font-family: "FE Hero";
      font-style: normal;
      font-weight: 400;
      font-size: 16rem;
      letter-spacing: 0.02em;
      color: #ffffff;
      text-align: left;
    }
    &__h2 span {
      color: #0be925;
    }
    &__dec {
      max-width: 15.1rem;
    }
  }
  &__right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    min-width: 63rem;
    &__card {
      max-width: 30.5rem;
      max-height: 23.5rem;
      border-radius: 2.5rem;
      padding: 3rem;
      font-family: "Roboto Condensed";
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .black__bg {
      background: #0b0d0d;
      box-shadow: 0rem 0rem .8rem .6rem rgba(255, 255, 255, 0.25);

      &__h5 {
        color: #e4e4e4;
        text-transform: uppercase;
        font-style: bold;
        font-size: 2.4rem;
      }
      &__h5 span {
        color: #0be925;
      }
      &__p {
        color: #aeadad;
        font-size: 1.6rem;
        text-align: right;
      }
    }
    .white__bg {
      background-color: #d6d6d6;
      &__h5 {
        color: #171717;
        text-transform: uppercase;
        font-style: bold;
        font-size: 2.4rem;
      }
      &__p {
        color: #585858;
        font-size: 1.6rem;
        text-align: right;
      }
    }
    .green__bg {
      background-color: #154423;
      &__h5 {
        color: #e4e4e4;
        text-transform: uppercase;
        font-style: bold;
        font-size: 2.4rem;
      }
      &__p {
        color: #aeadad;
        font-size: 1.6rem;
        text-align: right;
      }
    }
  }
}
