.benefits {
  &__container {
    width: 100%;
    height: 87.9rem;
    max-width: 100vw;
    background-image: url("@img/benefits/ben-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
  }
  &__container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 20%;
    background: linear-gradient(to bottom, rgba(11, 13, 13, 1), transparent);
    pointer-events: none;
  }
  &__container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20%;
    background: linear-gradient(to top, rgba(11, 13, 13, 1), transparent);
    pointer-events: none;
  }
  &__wrap {
    width: 120.9rem;
    height: 64.4rem;
    filter: drop-shadow(0px 70px 50px rgba(0, 0, 0, 0.5));
    border-radius: 50px;
    background-image: url("@img/benefits/texture.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;

    box-shadow: inset 0 2px 0 0 rgba(48, 49, 51, 0.8),
      inset 0 -2px 0 0 rgba(48, 49, 51, 0.8),
      inset 2px 0 0 0 rgba(104, 162, 101, 0.8),
      inset -2px 0 0 0 rgba(104, 162, 101, 0.8);
  }
  &__h2 {
    text-transform: uppercase;
    font-family: "FE Hero";
    font-style: normal;
    font-weight: 400;
    font-size: 16rem;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
  &__h2 span {
    color: #0be925;
    position: relative;
  }
  &__h2 span::before {
    content: "";
    position: absolute;
    top: 0.15em; /* отступ сверху */
    bottom: 0.15em; /* отступ снизу */
    left: 0;
    right: 0;
    background: #0B0D0D;
    border-radius: 2px;
    z-index: -1;
  }
}
