.focus {
    padding-top: 16.8rem;

    &__wrap {
        display: flex;
        flex-direction: column;
        gap: 3.4rem;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 2rem;

        &__info {
            max-width: 30.5rem;
            width: 100%;
            padding: 2.3rem 2.8rem;
            border-radius: 2.5rem;
            background: #1C1C1C;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1.5rem;

            &__days {
                font-family: 'FE Hero';
                font-weight: normal;
                font-size: 6rem;
                color: #FFFFFF;
            }

            &__slogan {
                font-family: 'Roboto Condensed';
                font-weight: 400;
                font-style: Regular;
                line-height: 120%;
                letter-spacing: 0%;
                text-align: right;
                font-size: 1.6rem;
                color: #A6A6A6;
                max-width: 12.5rem;
                
            }
        }

        &__title {
            max-width: 63rem;
            width: 120%;
            padding-bottom: 2rem;
            border-bottom: .1rem solid #FFFFFF;

            &__text {
                font-family: 'Roboto Condensed';
                font-weight: 500;
                font-style: Medium;
                font-size: 3.6rem;
                line-height: 120%;
                letter-spacing: 0%;
                text-transform: uppercase;
                color: #CBCBCB;

                & span {
                    color: #0BE925;
                }
            }
        }
    }

    &__middle {
        position: relative;

        &__bg {
            width: 100%;
        }

        &__list {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 2rem;
            padding-top: 7.6rem;
            padding-bottom: 9.5rem;
            padding-right: 8.4rem;

            &__item {
                position: relative;
                max-width: 25.1rem;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                &:nth-child(odd) {
                    align-self: flex-end;
                }

                &:last-child {
                    & .focus__middle__list__item__icon {
                        position: absolute;
                        bottom: 0;
                        right: -8.1rem;
                    }
                }

                &__icon {
                    max-width: 7.4rem;
                    max-height: 6.9rem;
                }

                &__title {
                    font-family: 'Roboto Condensed';
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 2rem;
                    line-height: 120%;
                    letter-spacing: 0%;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    margin-top: 1.7rem;
                    margin-bottom: .8rem;
                }

                &__desc {
                    font-family: 'Roboto Condensed';
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 1.6rem;
                    line-height: 120%;
                    letter-spacing: 0%;
                    color: #A6A6A6;
                }
            }
        }
    }

    &__bottom {
        max-width: 65.1rem;
        font-family: 'Roboto Condensed';
        font-weight: 300;
        font-style: Light;
        font-size: 2.4rem;
        line-height: 120%;
        letter-spacing: 0%;
        color: #B1A16A;
    }
}