.start {
  &__container {
    width: 100%;
    height: 60.3rem;
    max-width: 100vw;
    background-image: url("@img/start/start-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
  }
  &__container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 20%;
    background: linear-gradient(to bottom, rgba(11, 13, 13, 1), transparent);
    pointer-events: none;
  }
  &__container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20%;
    background: linear-gradient(to top, rgba(11, 13, 13, 1), transparent);
    pointer-events: none;
  }
  &__wrap {
    width: 116rem;
    height: 53.1rem;
    filter: drop-shadow(0px 70px 50px rgba(0, 0, 0, 0.5));
    border-radius: 50px;
    background-image: url("@img/start/texture.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: auto auto;

    box-shadow: inset 0 2px 0 0 rgba(48, 49, 51, 0.8),
      inset 0 -2px 0 0 rgba(48, 49, 51, 0.8),
      inset 2px 0 0 0 rgba(104, 162, 101, 0.8),
      inset -2px 0 0 0 rgba(104, 162, 101, 0.8);
  }

  &__h1 {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    &__word {
      text-transform: uppercase;
      font-family: "FE Hero";
      font-style: normal;
      font-weight: 400;
      font-size: 22rem;
      line-height: 100%;
      text-align: center;
      letter-spacing: 0.02em;
      color: #ffffff;
      position: relative;
      display: inline-block;

      &__text {
        color: #cbb879;
        font-family: "Roboto Condensed";
        font-weight: 400;
        letter-spacing: 0.05rem;
        background-color: #0b0d0d;
        font-size: 2rem;
        line-height: 120%;
        text-transform: uppercase;
        position: absolute;
        white-space: nowrap;
        padding: 0.6rem 1.1rem;
      }
      .text__1 {
        top: 13rem;
        transform: translateX(-175%);
      }
      .text__2 {
        top: 11rem;
        transform: translateX(-117%);
      }
      .text__3 {
        top: 12rem;
        transform: translateX(-90%);
      }
    }
  }
  &__p {
    font-family: "Roboto Condensed";
    font-weight: 400;
    letter-spacing: 0.05rem;
    font-size: 1.6rem;
    line-height: 120%;
    color: #bababa;
    text-align: right;
    position: absolute;
    left: 12rem;
    bottom: 5.5rem;
  }
  &__order {
    position: relative;
    left: 83rem;
    bottom: 23rem;

    &__img {
      max-width: 29rem;
    }
    &__href {
      font-family: "Roboto Condensed";
      font-weight: 400;
      letter-spacing: 0.05rem;
      font-size: 2rem;
      line-height: 120%;
      color: #ffffff;
      border-bottom: 0.3rem solid #ffffff;
      position: absolute;
      bottom: 4.5rem;
      transform: translateX(-130%);
      padding: 1rem;
    }
  }
}
