.team {
    padding-bottom: 5rem;

    &__wrap {
        display: flex;
        gap: 1.6rem;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 7.2rem;
        max-width: 50%;

        &__top {
            display: flex;
            align-items: last baseline;
            gap: .5rem;

            &__title {
                font-family: 'FE Hero';
                font-weight: 400;
                font-style: Regular;
                font-size: 16rem;
                line-height: 100%;
                letter-spacing: 2%;
                text-transform: uppercase;
                color: #FFFFFF;
                
                & span {
                    color: #0BE925;
                }
            }

            &__slogan {
                font-family: 'Roboto Condensed';
                font-weight: 300;
                font-style: Light;
                font-size: 2.4rem;
                line-height: 120%;
                letter-spacing: 0%;
                color: #B1A16A;
                max-width: 27rem;
            }
        }

        &__text {
            font-family: 'Roboto Condensed';
            font-weight: 400;
            font-style: Regular;
            font-size: 1.8rem;
            line-height: 140%;
            letter-spacing: 0%;
            color: #6F6F6F;

            & span {
                color: #FFFFFF;
            }
        }
    }

    &__right {
        padding-top: 11rem;
        display: flex;
        flex-direction: column;
        gap: 9.2rem;
        max-width: 50%;
        width: 100%;

        &__list {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;

            &__item {
                overflow: hidden;
                position: relative;
                background: #FFFFFF;
                width: 100%;
                aspect-ratio: 1/1;

                &__name {
                    position: absolute;
                    padding: 1rem;
                    background: #000000;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: 'Roboto Condensed';
                    font-weight: 500;
                    font-style: Medium;
                    font-size: 2rem;
                    line-height: 120%;
                    letter-spacing: 0%;
                    color: #FFFFFF;
                    max-width: fit-content;
                    z-index: 5;
                }

                &__photo {
                    position: absolute;
                    max-height: 95%;
                }

                &__position {
                    font-family: 'Roboto Condensed';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 2rem;
                    line-height: 120%;
                    color: #313030;
                }

                &:first-child {
                    border-top-left-radius: 50%;
                    border-top-right-radius: 50%;
                    border-bottom-left-radius: 50%;

                    & .team__right__list__item__name {
                        bottom: 1rem;
                        right: 1rem;
                    }

                    & .team__right__list__item__photo {
                        right: 0;
                        bottom: 0;
                    }
                }

                &:nth-child(2) {
                    border-top-left-radius: 50%;
                    border-top-right-radius: 50%;
                    border-bottom-right-radius: 50%;

                    & .team__right__list__item__name {
                        bottom: 1rem;
                        left: 1rem;
                    }

                    & .team__right__list__item__photo {
                        left: 0;
                        bottom: 0;
                    }
                }

                &:nth-child(3) {
                    border-top-left-radius: 50%;
                    border-bottom-left-radius: 50%;
                    border-bottom-right-radius: 50%;

                    & .team__right__list__item__name {
                        top: 1rem;
                        right: 1rem;
                    }

                    & .team__right__list__item__photo {
                        right: 0;
                        bottom: 0;
                    }
                }

                &:last-child {
                    border-top-right-radius: 50%;
                    border-bottom-right-radius: 50%;
                    border-bottom-left-radius: 50%;

                    & .team__right__list__item__name {
                        top: 1rem;
                        left: 1rem;
                    }

                    & .team__right__list__item__photo {
                        left: 0;
                        bottom: 0;
                    }
                }
            }

        }

        &__text {
            position: relative;
            font-family: 'Roboto Condensed';
            font-weight: 500;
            font-style: Medium;
            font-size: 2.4rem;
            line-height: 120%;
            letter-spacing: 0%;
            text-transform: uppercase;
            color: #E4E4E4;

            & img {
                position: absolute;
                right: 105%;
                bottom: -20%;
                width: 13rem;
            }
        }
    }
}